header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}
* {
 	margin:0;
	border:0;
	padding:0;
}

.button-container {
    text-align: center;
}

button {
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3% 5%;
    margin: 10% 0 3% 0;
    background-color: #0040D9;
    border-radius: 10px;
}

#result {
    color: #0040D9;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}